
body {
    font-family: 'Jost', sans-serif;
    background: #E8F1FF;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #333;
}

.f-right {
    float: right;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-150 {
    padding-top: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}

.header-area {
    padding: 40px 0;
}

.header-menu ul li {
    display: inline-block;
}

.header-area ul {
    margin: 0;
    padding: 0;
}

.header-menu ul li {
    margin-right: 50px;
}

.header-menu ul li:last-child {
    margin-right: 0;
}

.header-menu ul li a {
    font-size: 19px;
    color: #333;
}

.header-logo img {
    height: 35px;
}

.header-btn a {
    color: #fff;
    border: 2px solid #765ce0;
    padding: 12px 40px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    background: #765ce0;
}

.header-btn a svg {
    margin-right: 5px;
}

.slider-profile-image img {
    background: #fff;
    border-radius: 1000px;
    border: 15px solid #ffffff;
}

.slider-area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.author-position h5 {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.author-name h2 {
    color: #333;
    font-size: 110px;
    font-weight: 700;
    margin-bottom: 25px;
}

.slider-btn a {
    background: #765ce0;
    padding: 17px 45px;
    color: #fff;
    font-size: 18px;
    line-height: 70px;
    letter-spacing: 2px;
}


/* breadcrumb */

.breadcrumb-area {
    padding: 120px 0;
    padding-top: 60px;
}

.breadcrumb-content h4 {
    font-weight: 300;
    color: #272727;
    font-size: 40px;
}


/* about */

.about-area {
    background: #fff;
}

.about-left-area h3 {
    color: #333;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}

.about-left-area p {
    color: #666;
    font-size: 18px;
    line-height: 1.8;
    padding-right: 65px;
}

.about-skills ul {
    padding: 0;
    margin: 0;
}

.about-skills ul li {
    display: inline-block;
    background: #765cdf;
    border-radius: 31px;
    text-align: center;
    padding: 10px 15px;
    margin-right: 15px;
}

.about-skills ul li a {
    color: #fff;
    font-size: 19px;
}

.about-skills {
    margin-top: 25px;
}

.about-btn {
    margin-top: 35px;
}

.about-btn a {
    background: transparent;
    border: 2px solid #765cdf;
    color: #765cdf;
    padding: 13px 40px;
    font-weight: 500;
    font-size: 17px;
    line-height: 53px;
}


/* skills */

.skill-header-title h3 {
    color: #333;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.single-skill {
    margin-bottom: 25px;
}

.single-skill h6 {
    font-weight: 400;
    color: #444242;
    font-size: 18px;
    margin-bottom: 10px;
}

.single-skill .progress {
    height: 10px;
    border-radius: 0;
    background-color: #333;
}

.single-skill .progress-bar {
    background-color: #765cde;
}

.section-title h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 6px;
    display: inline-block;
    padding-bottom: 5px;
}

span.cd-words-wrapper {
    padding: 0 !important;
}


/* service */

.single-service {
    background: #fff;
    border-radius: 5px;
    padding: 50px 35px;
}

.service-icon svg {
    color: #765cde;
    font-size: 45px;
    margin-bottom: 20px;
}

.service-name h5 {
    color: #333;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 25px;
}

.service-des p {
    color: #666;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.service-btn a {
    color: #765cde;
    font-weight: 500;
}

.portfolio-menu button {
    border: none;
    background: transparent;
    padding: 10px 35px;
    text-transform: capitalize;
    margin-right: 5px;
    color: #333;
    border-radius: 30px;
}

.portfolio-menu button:last-child {
    margin-right: 0;
}

.portfolio-menu .active {
    background: #765cdd;
    color: #fff;
}

.portfolio-area {
    background: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
}


/* education */

.single-education {
    background: #fff;
    padding: 40px 40px;
}

.company-name span {
    color: #545454;
    font-size: 20px;
}

.subject-name h5 {
    color: #333;
    font-size: 25px;
    margin-bottom: 10px;
}

.education-des p {
    color: #666;
    font-size: 17px;
    letter-spacing: 1px;
}

.education-year {
    background: aliceblue;
    padding: 10px 25px;
    border-radius: 5px;
}


/* blog */

.single-blog {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #ddd;
}

.blog-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-content {
    padding: 30px 20px;
}

.blog-content-header {
    color: #666;
    margin-bottom: 20px;
}

.blog-title a {
    text-decoration: none;
}

.blog-title a h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog-btn a {
    text-decoration: none;
}

.blog-details .blog-title {
    margin-bottom: 100px;
}

.blog-details .blog-title h4 {
    font-size: 38px;
    color: #333;
    font-weight: 600;
}

.blog-date {
    font-size: 18px;
    margin-bottom: 20px;
}

.blog-details .blog-img {
    margin-bottom: 100px;
}

.blog-details .blog-des p {
    color: #484646;
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 40px;
}

.blog-details .blog-tags ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.blog-details .blog-tags ul li {
    display: inline-block;
    margin-right: 15px;
}

.blog-details .blog-tags ul li a {
    color: #333;
    border: 1px solid #333;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 500;
}

.blog-details {
    position: relative;
}

.blog-share-area {
    position: absolute;
    left: -13%;
    top: 0;
}

.share-icon ul {
    padding: 0;
    margin: 0;
}

.share-icon ul li {
    margin-bottom: 25px;
    list-style: none;
}

.share-icon ul li a {
    color: #333333;
    font-size: 20px;
}

.blog-details .blog-list .single-news {
    box-shadow: none;
    background: #fff;
}

.main-area {
    background: #fff;
    padding: 150px 0;
}


/* contact */

.contact-area {
    background: #fff;
}

.contact-main-area {
    position: relative;
}

.container.contact-bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    background: #765cde;
    z-index: 0;
}

.contact-left-form {
    background: #fff;
    z-index: 99999;
    padding: 35px 35px;
    box-shadow: 9px -1px 29px #f1efefc2;
}

.col-lg-6.contact-lg {
    z-index: 9;
}

.container.contact-bg {
    padding: 100px 0;
    margin-top: 50px;
}

.contact-form-header h4 {
    font-weight: 500;
    color: #333;
    margin-bottom: 25px;
    font-size: 30px;
}

.contact-form-body .form-control {
    border: 1px solid #e4e4e4;
    border-radius: 0;
    padding: 15px 18px;
    color: #333;
}

.contact-form-body input {
    height: 55px;
}

.contact-form-body .form-group {
    margin-bottom: 25px;
}

.contact-form-body .form-control::placeholder {
    color: #9c9898;
}

.contact-form-body .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.contact-form-body textarea {
    height: 150px;
}

.button-btn button {
    border: none;
    background: #765cdd;
    color: #fff;
    padding: 18px 45px;
    font-size: 17px;
}

.contact-info h4 {
    color: #333;
    font-size: 35px;
    margin-bottom: 20px;
}

.contact-info p {
    color: #666;
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.contact-info .media {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-info .media .icon {
    margin-right: 15px;
    background: #765cdd;
    color: #fff;
    padding: 13px 18px;
    border-radius: 46px;
    font-size: 21px;
}

.contact-info .media-body {
    color: #585656;
    font-size: 17px;
}

.footer-social-links ul {
    margin: 0;
    padding: 0;
}

.footer-social-links ul li {
    display: inline-block;
    margin-right: 30px;
}

.footer-social-links ul li a {
    color: #333;
    font-size: 18px;
}

.footer-copyright p {
    color: #333;
    font-size: 17px;
    margin-bottom: 0;
}

.footer-area {
    padding: 40px 0;
}


/* pagination */
.page-link {
    position: relative;
    display: block;
    color: #35394a;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: transparent;
    color: #333 !important;
    padding: 12px 26px !important;
}

.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #755CDF;
    border: 1px solid #755CDF;
}

ul.pagination.justify-content-center.pagination_links {
    margin-top: 50px;
}

a.fas.fa-angle-right.page-link {
    height: 100%;
    display: flex;
    align-items: center;
}

a.fas.fa-angle-left.page-link{
    height: 100%;
    display: flex;
    align-items: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #755CDF;
    border-color: #755CDF;
}