/* Normal desktop :1200px. */

@media (min-width: 1200px) and (max-width: 7000px) {
    .hc-nav-original.hc-nav-1 {
        display: block !important;
    }
    .mobile-menu {
        display: none;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    .hc-nav-original.hc-nav-1 {
        display: block !important;
    }
    .mobile-menu {
        display: none;
    }
    .header-menu ul li {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-section-content h2 {
        font-size: 58px;
    }
    .about-section-content p {
        font-size: 16px;
    }
    .services-solution h2 {
        font-size: 35px;
    }
    .service-left-area .filltext strong {
        font-size: 60px;
    }
    .service-left-area .filltext p {
        bottom: 35px;
    }
    .portfolio-name h2 {
        font-size: 32px;
    }
    .blog-area .col-lg-4 {
        width: 50% !important;
    }
    .subscribe-content h2 {
        font-size: 50px;
    }
    .slider-img img {
        width: 100%;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .col-lg-2 {
        width: 30%;
    }
    .header-area .col-lg-3 {
        width: 70%;
    }
    .header-area .col-lg-7 {
        display: none;
    }
    .mobile-menu {
        position: relative;
    }
    .header-btn {
        margin-right: 67px;
    }
    .mobile-menu a svg {
        border: 1px solid #8a878745;
        padding: 10px 10px;
        font-size: 57px;
        border-radius: 5px;
    }
    .slider-img {
        display: none;
    }
    .about-img {
        margin-bottom: 50px;
    }
    .single-service {
        margin-bottom: 30px;
    }
    .service-header-right-area p {
        display: none;
    }
    .counter-area .col-lg-4 {
        width: 50%;
    }
    .portfolio-name {
        margin-bottom: 65px;
    }
    .subscribe-content h2 {
        font-size: 58px;
    }
    .footer-left-area {
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-right-area {
        width: 100%;
        text-align: center;
    }
    .footer-left-area p {
        font-size: 16px;
    }
    .mobile-menu a {
        color: #fff;
        width: 100%;
        top: -18px;
    }
}


/* small mobile :320px. */

@media (min-width: 499px) and (max-width: 767px) {
    .mobile-menu {
        position: relative;
    }
    .header-btn {
        margin-right: 67px;
    }
    .mobile-menu a {
        color: #fff;
    }
    .mobile-menu a svg {
        border: 1px solid #8a878745;
        padding: 10px 10px;
        font-size: 57px;
        border-radius: 5px;
    }
    .slider-img {
        display: none;
    }
    .about-img {
        margin-bottom: 50px;
    }
    .single-service {
        margin-bottom: 30px;
    }
    .service-header-right-area p {
        display: none;
    }
    .counter-area .col-lg-4 {
        width: 50%;
    }
    .portfolio-name {
        margin-bottom: 65px;
    }
    .subscribe-content h2 {
        font-size: 40px !important;
    }
    .footer-left-area {
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-right-area {
        width: 100%;
        text-align: center;
    }
    .footer-left-area p {
        font-size: 16px;
    }
    .header-btn {
        display: none;
    }
    .header-area .col-lg-2 {
        width: 50%;
    }
    .header-area .col-lg-3 {
        width: 50%;
    }
    .header-area .col-lg-7 {
        display: none;
    }
    .about-section-content h2 {
        font-size: 50px;
    }
    .about-section-content p {
        font-size: 16px;
    }
    .services-solution h2 {
        font-size: 35px;
    }
    .service-left-area .filltext strong {
        font-size: 46px;
    }
    .service-left-area .filltext p {
        font-size: 25px;
        bottom: 28px;
    }
    .subscribe-form button {
        padding: 0 31px;
    }
}

@media (min-width: 250px) and (max-width: 500px) {
    .mobile-menu {
        position: relative;
    }
    .header-btn {
        margin-right: 67px;
    }
    .mobile-menu a {
        color: #fff;
    }
    .mobile-menu a svg {
        border: 1px solid #8a878745;
        padding: 10px 10px;
        font-size: 57px;
        border-radius: 5px;
    }
    .slider-img {
        display: none;
    }
    .about-img {
        margin-bottom: 50px;
    }
    .single-service {
        margin-bottom: 30px;
    }
    .service-header-right-area p {
        display: none;
    }
    .portfolio-name {
        margin-bottom: 65px;
    }
    .subscribe-content h2 {
        font-size: 58px;
    }
    .footer-left-area {
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-right-area {
        width: 100%;
        text-align: center;
    }
    .footer-left-area p {
        font-size: 16px;
    }
    .single-counter {
        margin-bottom: 30px;
    }
    .header-btn {
        display: none;
    }
    .service-left-area .filltext strong {
        font-size: 32px !important;
    }
    .hc-nav-trigger {
        top: -55px;
    }
    .slider-content h2 {
        font-size: 60px;
    }
    .slider-content p {
        font-size: 18px;
    }
    .about-section-content p {
        font-size: 16px;
    }
    .user-social-links {
        display: none;
    }
    .service-left-area .filltext p {
        font-size: 20px;
        bottom: 10px;
    }
    .services-solution h2 {
        font-size: 22px;
    }
    .about-section-content h2 {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .portfolio-name h2 {
        font-size: 30px;
    }
    .review-bottom-area {
        display: none;
    }
    .subscribe-content h2 {
        font-size: 38px;
    }
    .subscribe-content p {
        font-size: 27px;
    }
}