
body {
    font-family: 'Poppins', sans-serif;
    background: #262735;
    color: #fff;
    width: 100%;
    height: 100%;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
}

a {
    text-decoration: none;
}


/* header */

.header-area {
    background: #262734;
    padding: 40px 0;
}

.header-menu ul li {
    display: inline-block;
}

.header-menu ul {
    margin-bottom: 0;
}

.header-menu ul li a {
    color: #858792;
    text-decoration: none;
    font-weight: 400;
}

.header-menu ul li {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-menu ul li:last-child {
    margin-right: 0;
}

.header-btn a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #8a878745;
    padding: 20px 50px;
    border-radius: 35px;
    font-weight: 400;
    font-size: 17px;
}


/* breadcrumb */

.breadcrumb-area {
    padding: 120px 0;
    padding-top: 60px;
}

.breadcrumb-content h4 {
    font-weight: 300;
    color: #e4e2e2;
    font-size: 40px;
}


/* slider */

.slider-area {
    background: #262735;
    padding-top: 100px;
    padding-bottom: 100px;
}

.slider-content h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
}

.slider-content p {
    color: #dcd8d8;
    margin-top: 35px;
    font-size: 22px;
    font-weight: 200;
}

.slider-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #736f6f;
    padding: 24px 50px;
    border-radius: 42px;
    line-height: 75px;
}

.slider-btn {
    margin-top: 45px;
}


/* about */

.personal-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-item.wrap-middle {
    flex: 0 0 50%;
}

.about-area {
    background: #2a2c39;
}

.about-section-content h2 {
    color: #fff;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 35px;
}

.about-section-content p {
    color: #c1c0c0;
    line-height: 1.9;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 35px;
}

.list-item.wrap-middle span {
    color: #ece7e7;
    font-size: 17px;
    font-weight: 300;
}

.list-item.wrap-middle {
    margin-bottom: 10px;
}

.list-item.wrap-middle span.desc {
    color: #fff;
    font-weight: 400;
}

.about-bottom-area {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-bottom-area a.btn {
    background: #ec32d6;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 34px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.user-social-links a {
    color: #fff;
    padding: 10px 15px;
    border-radius: 47px;
    margin-right: 12px;
    background: transparent;
    border: 1px solid #ddd;
    font-size: 22px;
}

.about-bottom-area a.btn svg {
    font-size: 20px;
    margin-right: 6px;
}

.user-social-links a:last-child {
    margin-right: 0;
}

.single-skill h6 {
    font-weight: 300;
    font-size: 16px;
}

.single-skill {
    margin-bottom: 25px;
}

.single-skill:last-child {
    margin-bottom: 0;
}

.single-skill .progress {
    height: 7px;
    border-radius: 0;
    background: white;
}

.single-skill .progress-bar {
    background: #eb33d6;
}

.skills-area {
    margin-top: 50px;
}

.education-details {
    margin-bottom: 50px;
}


/* services */

.service-left-area .filltext strong {
    color: #ffffff1f;
    font-weight: 700;
    font-size: 60px;
    -webkit-text-stroke: 1px solid #fff;
    text-transform: uppercase;
}

.service-left-area {
    position: relative;
}

.service-left-area .filltext p {
    color: #ff00dc;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    bottom: 46px;
}

.services-solution h2 {
    font-size: 47px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.service-left-area {
    border-right: 1px solid #ddd;
}

.service-header-right-area p {
    color: #d4d3d3;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
}

.service-header-right-area {
    padding-left: 15px;
}

.single-service {
    background: #292c3a;
    border-radius: 5px;
    padding: 100px 30px;
}

.service-img {
    margin-bottom: 25px;
}

.service-img i {
    font-size: 40px;
}

.service-title h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 30px;
}

.service-des p {
    margin-bottom: 0;
    color: #dedddd;
    font-weight: 300;
    line-height: 1.7;
    font-size: 16px;
}

.education-title h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}

.education-year p {
    border: 1px solid #ff00dc;
    display: inline-block;
    color: #ff00dc;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 16px;
}

.your-position p {
    margin-left: 20px;
    font-weight: 300;
    font-size: 18px;
    color: #d8d8d8;
}

.education-details p {
    color: #e6e6e6;
    font-weight: 300;
    line-height: 1.9;
    font-size: 16px;
}

.education-title {
    margin-bottom: 20px;
}

.education-section-start {
    border-top: 1px solid #5655559c;
    padding-top: 50px;
}

.counter-area {
    background: #292c3a;
}

.single-counter {
    display: flex;
    align-items: center;
}

.counter-icon span {
    border: 1px solid #676565;
    padding: 20px 20px;
    font-size: 45px;
    border-radius: 10px;
    color: #ddd;
    width: 100%;
}

.icon {
    font-size: 45px;
    border: 1px solid #676565;
    padding: 15px 15px;
    border-radius: 10px;
    color: #ddd;
}

.counter-icon {
    margin-right: 25px;
}

.counter-num strong {
    font-size: 40px;
    font-weight: 500;
}

.counter-num p {
    font-weight: 300;
    font-size: 17px;
    color: #dedede;
}


/* portfolio */

.portfolio-img {
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.img-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-portfolio {
    background: #282c3b;
    height: 40rem;
    overflow: hidden;
}

.portfolio-name h2 {
    color: #fff;
    margin-top: 21px;
    font-size: 40px;
}


/* education */

.single-education-experience {
    margin-bottom: 45px;
}

.single-review {
    background: #262735;
    padding: 40px 40px;
    position: relative;
    margin-bottom: 6rem;
}

.review-des p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
}

.review-bottom-area {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -50px;
    align-items: center;
}

.user-img img {
    border: 2px solid #515152;
    border-radius: 40px;
}

.review-bottom-area .user-img img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.user-img {
    margin-left: 35px;
}

.client-name-position {
    margin-right: 35px;
    background: #262735;
    box-shadow: 0 0 20px #262735;
    padding: 15px 30px;
    border-radius: 5px;
}

.client-name-position p {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 14px;
    color: #dcddde;
}

.client-name-position h5 {
    font-weight: 500;
    font-size: 20px;
    color: #ff00e3;
}


/* blog */

.single-blog {
    background: #282c3b;
    padding: 0 0;
}

.blog-content {
    padding: 25px 25px;
}

.blog-title a {
    color: #fff;
}

.blog-title a h2 {
    font-weight: 700;
    font-size: 37px;
}

.blog-date-author {
    display: flex;
    margin-bottom: 25px;
}

.blog-date {
    color: #d2d2d2;
    margin-right: 15px;
}

.blog-author {
    color: #d2d2d2;
}

.blog-author span strong {
    font-weight: 500;
    color: #fff;
}

.blog-des p {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 25px;
}

.blog-action a {
    color: #fff;
}

.single-blog {
    border-radius: 5px;
}

.blog-img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* news */

.single-news {
    box-shadow: 0px 10px 20px #e4e4e4;
    border-radius: 5px;
    margin-bottom: 30px;
}

.news-content {
    padding: 25px 25px;
}

.news-date {
    margin-bottom: 20px;
}

.news-date span:last-child {
    margin-left: 20px;
}

.news-date span {
    color: #333;
    font-weight: 500;
    font-size: 17px;
}

.news-title a {
    color: #333;
}

.news-title a h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.news-des p {
    color: #666;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.news-action a {
    color: #662df1;
}

.blog-date {
    margin-bottom: 20px;
    font-size: 25px;
    color: #d6d1d1;
}

.blog-details .blog-title {
    margin-bottom: 100px;
}

.blog-details .blog-title h4 {
    font-size: 38px;
    color: #f1f1f1;
    font-weight: 600;
}

.blog-details .blog-img {
    margin-bottom: 100px;
}

.blog-details .blog-des p {
    color: #d6d4d4;
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 40px;
}

.blog-details .blog-tags ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.blog-details .blog-tags ul li {
    display: inline-block;
    margin-right: 15px;
}

.blog-details .blog-tags ul li a {
    color: #333;
    border: 1px solid #333;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 500;
}

.blog-details {
    position: relative;
}

.blog-share-area {
    position: absolute;
    left: -13%;
    top: 0;
}

.share-icon ul {
    padding: 0;
    margin: 0;
}

.share-icon ul li {
    margin-bottom: 25px;
    list-style: none;
}

.share-icon ul li a {
    color: #f5f5f5;
    font-size: 20px;
}

.blog-details .blog-list .single-news {
    box-shadow: none;
    background: #fff;
}

.main-area {
    background: #35394a;
    padding: 150px 0;
}


.single-blog .blog-date {
    font-size: 18px;
    margin-bottom: 0;
}

.single-blog .blog-title a h2 {
    font-size: 35px;
}

/* subscribe */

.subscribe-area {
    background: #282c3b;
}

.client-review {
    background: #282c3b;
}

.subscribe-content p {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

.subscribe-content h2 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.subscribe-form input {
    width: 100%;
    height: 61px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    padding: 0 35px;
}

.subscribe-form {
    display: flex;
    align-items: center;
}

.subscribe-form button {
    border: none;
    background: #262735;
    color: #fff;
    height: 61px;
    width: 30%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 17px;
    font-weight: 300;
}

.subscribe-form input:focus {
    outline: 0;
}

.subscribe-form input::placeholder {
    color: #c1bfbf;
    font-weight: 400;
}

/* contact */
.contact-form .form-group {
    margin-bottom: 25px;
}

.contact-form .form-control {
    background: #262735;
    border: none;
    padding: 20px 28px;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
}

.contact-form input {
    height: 70px;
}

.contact-form .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.submit-btn button {
    border: none;
    background: #ff00e394;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    padding: 18px 52px;
    float: right;
}

.single-blog {
    margin-bottom: 30px;
}

.footer-area {
    background: #282c3b;
    border-top: 1px solid #585757;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-left-area p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 0;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    display: inline-block;
    border-right: 1px solid #ddd;
    padding-right: 20px;
    padding-left: 20px;
}

.footer-menu ul li:last-child {
    padding-right: 0;
    border: none;
}

.footer-menu ul li a {
    color: #fff;
    font-size: 17px;
}

/* pagination */
.page-link {
    position: relative;
    display: block;
    color: #35394a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #35394a;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: #35394a;
    color: #fff !important;
    padding: 12px 26px !important;
}

.page-link:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: #262735;
    border: 1px solid #262735;
}

ul.pagination.justify-content-center.pagination_links {
    margin-top: 30px;
}

a.fas.fa-angle-right.page-link {
    height: 100%;
    display: flex;
    align-items: center;
}

a.fas.fa-angle-left.page-link {
    height: 100%;
    display: flex;
    align-items: center;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #262734;
    border-color: #262735;
}