/* main container */
body {
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #333;
}

.main-area {
    background: bisque;
}

.sidebar-area {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-around;
    text-align: center;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    /* right: 0; */
}

.slider-logo {
    margin-bottom: 50px;
}

.sidebar-menu ul li {
    list-style: none;
    margin-bottom: 25px;
}

.sidebar-menu ul {
    padding: 0;
    margin: 0;
}

.sidebar-menu ul li a {
    text-decoration: none;
    color: #252020;
    font-size: 19px;
    font-weight: 400;
}

.slider-logo img {
    height: 35px;
}

.sidebar-menu ul li:last-child {
    margin-bottom: 0;
}

.copyright-area p {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.copyright-area {
    margin-top: 45px;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-content {
    width: 100%;
    padding-left: 15px;
}

.slider-content h3 {
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 25px;
}

.slider-content h2 {
    font-weight: 600;
    font-size: 62px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.slider-content p {
    font-size: 25px;
    font-weight: 300;
}

.slider-btn a {
    background: #292b2d;
    color: #fff;
    text-decoration: none;
    height: 55px;
    padding: 18px 45px;
    line-height: 55px;
    font-size: 18px;
    border-radius: 0;
}

.slider-btn {
    margin-top: 40px;
}

.slider-btn a:last-child {
    background: transparent;
    color: #292b2d;
    font-weight: 500;
    font-size: 21px;
}

.slider-btn a:last-child svg {
    font-weight: 700;
    font-size: 26px;
    padding-left: 3px;
}

.slider-img img {
    border-radius: 350px;
    border: 15px solid #fff;
}

.slider-img {
    padding-right: 15px;
}


/* about */

.about-main-area {
    padding: 100px 30px;
}

.about-img img {
    border: 15px solid #fff;
    border-radius: 5px;
}

.user-name h4 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
    color: #333;
}

.user-position p {
    font-size: 25px;
    margin-bottom: 20px;
}

.user-des p {
    color: #464444;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 300;
}

.user-btn a {
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 15px 50px;
    font-size: 18px;
}

.user-btn {
    margin-top: 45px;
}


/* services */

.service-header-content h3 {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 600;
}

.service-header-content p {
    color: #333;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
}

.single-service {
    background: #fff;
    padding: 60px 25px;
    border-radius: 5px;
}

.service-img img {
    height: 70px;
    margin-bottom: 15px;
}

.service-title {
    margin-bottom: 15px;
}

.service-title h4 {
    font-weight: 500;
    font-size: 30px;
}

.service-des p {
    margin-bottom: 0;
    line-height: 1.7;
    font-size: 17px;
    color: #666;
}


/* portfolio */

.portfolio-header-section h4 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.portfolio-header-section p {
    color: #333;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
}

.single-portfolio {
    border: 25px solid #fff;
    border-radius: 5px;
}

.potfolio-title h4 {
    margin-bottom: 0;
}

.portfolio-img img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.potfolio-title {
    background: #fff;
    padding: 20px 0;
}

.potfolio-title h4 {
    font-size: 25px;
    font-weight: 500;
}


/* news */

.news-header-section h4 {
    color: #333;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.news-header-section p {
    font-size: 18px;
}

.single-news {
    background: #fff;
    border: 25px solid #fff;
    border-radius: 5px;
}

.news-img {
    margin-bottom: 15px;
}

.news-img img {
    border-radius: 5px;
}

.news-title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.news-title h4 {
    font-size: 27px;
}

.news-date-author {
    display: flex;
    color: #666;
    font-size: 18px;
}

.news-date {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.news-date svg {
    margin-right: 5px;
    font-size: 20px;
}

.news-author {
    display: flex;
    align-items: center;
}

.news-author svg {
    font-size: 20px;
    margin-right: 5px;
}

.news-date-author {
    margin-bottom: 30px;
}

.news-des p {
    color: #666;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.news-btn a {
    font-weight: 600;
    font-size: 20px;
}

.news-btn a svg {
    font-size: 25px;
}

.blog-details .blog-title {
    margin-bottom: 100px;
    padding-left: 80px;
}

.blog-details .blog-title h4 {
    font-size: 38px;
    color: #333;
    font-weight: 600;
}

.blog-date {
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 80px;
}

.blog-details .blog-img {
    margin-bottom: 100px;
}

.blog-details .blog-des p {
    color: #484646;
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 40px;
}

.blog-details .blog-tags ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.blog-details .blog-tags ul li {
    display: inline-block;
    margin-right: 15px;
}

.blog-details .blog-tags ul li a {
    color: #333;
    border: 1px solid #333;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 500;
}

.blog-details {
    position: relative;
}

.blog-share-area {
    position: absolute;
    left: 0;
    top: 0;
}

.share-icon ul {
    padding: 0;
    margin: 0;
}

.share-icon ul li {
    margin-bottom: 25px;
    list-style: none;
}

.share-icon ul li a {
    color: #333333;
    font-size: 20px;
}

.blog-details .blog-list .single-news {
    box-shadow: none;
    background: #fff;
}

.main-area {
    padding: 50px 0;
}


/* contact */

.contact-header-area h4 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-header-area p {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-group label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.contact-form .form-control {
    border: none;
    height: 60px;
    padding: 15px 20px;
}

.contact-form .form-control::placeholder {
    color: #b1b1b1;
    font-size: 17px;
}

.contact-form textarea {
    height: 170px !important;
    padding: 20px 20px !important;
}

.contact-form .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.button-btn {
    text-align: center;
    background: #333;
    border-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-btn a {
    color: #fff;
    font-size: 20px;
}


/* footer */

.footer-social-links ul li {
    display: inline-block;
}

.footer-area {
    background: #fff;
    padding: 30px 0;
}

.footer-copyright p {
    margin-bottom: 0;
}

.footer-social-links ul {
    margin: 0;
}

.footer-social-links ul li {
    margin-right: 20px;
}

.footer-social-links ul li a {
    font-size: 21px;
}

.footer-copyright p {
    font-size: 18px;
}

.single-news {
    margin-bottom: 30px;
}


/* pagination */
.page-link {
    position: relative;
    display: block;
    color: #35394a;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: transparent;
    color: #333 !important;
    padding: 12px 26px !important;
}

.page-link:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: #fff;
    border: 1px solid #fff;
}

ul.pagination.justify-content-center.pagination_links {
    margin-top: 30px;
}

a.fas.fa-angle-right.page-link {
    height: 100%;
    display: flex;
    align-items: center;
}

a.fas.fa-angle-left.page-link{
    height: 100%;
    display: flex;
    align-items: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}