
body {
    background: bisque;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}

.f-right {
    float: right;
}

.cv-templates-area {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.single-sidebar {
    padding-bottom: 50px;
    height: 100%;
}

.user-img {
    padding-top: 50px;
}

.user-img img {
    border-radius: 147px;
    border: 8px solid #fff;
    height: 180px !important;
    width: 180px !important;
    object-fit: cover !important;
}

.user-info-area {
    padding-left: 35px;
    margin-top: 40px;
}

.info-header h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
}

.info-header {
    border-bottom: 1px dashed #b1b1b1;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.single-info {
    display: flex;
    color: #fff;
    padding-bottom: 20px;
}

.single-info .info-icon svg {
    font-size: 21px;
    margin-right: 5px;
}

.info-data h5 {
    font-weight: 400;
    margin-bottom: 4px;
    font-size: 19px;
}

.info-data span {
    color: #dedede;
}

.info-icon {
    margin-right: 5px;
}

.info-data p {
    margin-bottom: 5px;
    color: #d8d7d7;
}

.user-name h2 {
    color: #3a3939;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 5px;
    letter-spacing: 10px;
}

.user-name p {
    color: #565656;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.template-right-section {
    margin-top: 30px;
    margin-left: 15px;
}

.eduction-area {
    margin-top: 30px;
}

.education-header h4 {
    color: #666;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
}

.education-header {
    border-bottom: 2px dashed #ddd;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.single-education {
    margin-bottom: 30px;
}

.cv-left-area.text-right {
    text-align: right;
}

.col-lg-6.border-right {
    border-right: 1px solid #a0a0a0;
}

.user-info-area.pl-0 {
    padding-left: 0;
}

.name-border {
    border: 1px solid #333;
    padding: 20px 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.name-border p {
    margin-bottom: 0;
}

.cv-header-area {
    padding: 95px 0;
}

.user-name.user-border-theme5 {
    display: inline-block;
    border: 1px solid #ffff;
    padding: 30px 135px;
}

.cv-body-area {
    padding: 30px 15px;
}

.cv-body-area textarea {
    height: 150px !important;
}

.header-top-area {
    background: #fff;
    padding: 25px 50px;
    margin-bottom: 50px;
}

.back-btn a {
    color: #fff;
    text-decoration: none;
    background: #4a22ea;
    padding: 11px 25px;
    border-radius: 5px;
}

.header-download-btn button {
    border: 2px solid #571bfd;
    padding: 9px 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #571bfd;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
}

.header-download-btn button svg {
    padding-right: 5px;
    font-size: 24px;
}