
body {
    background: bisque;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}

.f-right {
    float: right;
}

.main-page-area {
    background: #fff;
    padding: 30px 30px;
}

.postition-area h5 {
    border: 2px solid #333;
    display: inline-block;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.user-info h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.0;
    margin-top: 15px;
}

.user-info p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.7;
}

.col-lg-8.left-main-section {
    border-right: 2px solid #333;
    padding: 1.5rem 2rem 0 2rem;
}

.sidebar {
    padding: 1.5rem 2rem 2rem 1rem;
}

.user-top-section {
    border-bottom: 2px solid #333;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.expreience-header-title h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

.expreience-postion h6 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
}

.expreience-postion h2 {
    font-size: 23px;
}

.expreience-postion p {
    color: #666;
    font-size: 15px;
}

.single-expreience-area {
    margin-bottom: 50px;
}

.contact-card-body p {
    margin-bottom: 5px;
    color: #5a5959;
    font-size: 16px;
}

.contact-card {
    margin-bottom: 30px;
}

.education-name h6 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.single-education {
    margin-bottom: 30px;
}

.single-certification-name {
    margin-bottom: 20px;
}

.certificate-name h6 {
    margin-bottom: 5px;
}

.header-top-area {
    background: #fff;
    padding: 25px 50px;
    margin-bottom: 50px;
}

.back-btn a {
    color: #fff;
    text-decoration: none;
    background: #4a22ea;
    padding: 11px 25px;
    border-radius: 5px;
}

.header-download-btn button {
    border: 2px solid #571bfd;
    padding: 9px 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #571bfd;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
}

.header-download-btn button svg {
    padding-right: 5px;
    font-size: 24px;
}