.f-right {
    float: right;
}

.pt-150 {
    padding-top: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-150 {
    margin-top: 150px;
}

.mb-150 {
    margin-bottom: 150px;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}