/* Normal desktop :1200px. */

@media (min-width: 1200px) and (max-width: 7000px) {
    .hc-nav-original.hc-nav-1 {
        display: block !important;
    }
    .mobile-menu {
        display: none;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1198px) {
    .mobile-menu {
        display: block;
        position: relative;
    }
    .mobile-menu a {
        color: #333;
        font-size: 30px;
    }
    .mobile-menu a svg {
        border: 2px solid #333;
        padding: 5px 5px;
        border-radius: 5px;
        font-size: 50px;
    }
    .header-btn {
        margin-right: 67px;
    }
    .benefit-area .col-lg-4 {
        width: 50%;
    }
    .choice-area .col-lg-3 {
        width: 33.33%;
    }
    .pricing-area .col-lg-3 {
        width: 33.33%;
    }
    .blog-area .col-lg-4 {
        width: 50%;
        margin-bottom: 30px;
    }
    .slider-area .col-lg-6 {
        width: 70%;
    }
    .slider-area .offset-lg-3 {
        margin-left: 15%;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .mobile-menu a {
        color: #333;
        font-size: 30px;
    }
    .mobile-menu a svg {
        border: 2px solid #333;
        padding: 5px 5px;
        border-radius: 5px;
        font-size: 50px;
    }
    .header-btn {
        margin-right: 67px;
    }
    .header-area .col-lg-2 {
        width: 20%;
    }
    .header-area .col-lg-10 {
        width: 80%;
    }
    .mobile-menu {
        position: relative;
    }
    .footer-menu {
        margin-top: 50px;
    }
    .footer-newsletter {
        margin-top: 50px;
    }
}


/* small mobile :320px. */

@media (min-width: 499px) and (max-width: 767px) {
    .mobile-menu a {
        color: #333;
        font-size: 30px;
    }
    .mobile-menu a svg {
        border: 2px solid #333;
        padding: 5px 5px;
        border-radius: 5px;
        font-size: 50px;
    }
    .mobile-menu {
        position: relative;
    }
    .header-area .col-lg-2 {
        width: 30%;
    }
    .header-area .col-lg-10 {
        width: 70%;
    }
    .header-btn a:first-child {
        display: none;
    }
    .header-btn {
        margin-right: 67px;
    }
    .mobile-menu {
        margin-right: 20px;
    }
    .footer-menu {
        margin-top: 50px;
    }
    .footer-newsletter {
        margin-top: 50px;
    }
}

@media (min-width: 250px) and (max-width: 500px) {
    .mobile-menu a {
        color: #333;
        font-size: 30px;
    }
    .mobile-menu a svg {
        border: 2px solid #333;
        padding: 5px 5px;
        border-radius: 5px;
        font-size: 50px;
    }
    .mobile-menu {
        position: relative;
    }
    .header-area .col-lg-2 {
        width: 50%;
    }
    .header-area .col-lg-10 {
        width: 50%;
    }
    .header-btn {
        margin-right: 67px;
    }
    .header-btn {
        display: none;
    }
    .mobile-menu {
        margin-right: 20px;
        margin-top: -11px;
    }
    .footer-menu {
        margin-top: 50px;
    }
    .footer-newsletter {
        margin-top: 50px;
    }
    .slider-content h2 {
        font-size: 58px;
    }
    .slider-content p {
        font-size: 18px;
    }
    .benefit-header-content h2 {
        font-size: 35px;
    }
    .benefit-header-content p {
        font-size: 15px;
    }
}