.f-right {
    float: right;
}

.pt-150 {
    padding-top: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mb-150 {
    margin-bottom: 150px;
}

.pb-200 {
    padding-bottom: 200px;
}

.pl-0 {
    padding-left: 0;
}