
body {
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.f-right {
    float: right;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-150 {
    padding-top: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}


/* header */

.header-area {
    padding: 35px 0;
    background: #fff;
    box-shadow: 0 0 20px #f1f1f1;
}

.header-menu ul {
    padding: 0;
    margin: 0;
}

.header-menu ul li {
    display: inline-block;
    margin-right: 50px;
}

.header-menu ul li a {
    font-size: 18px;
}

.header-btn a {
    border: 2px solid #333;
    padding: 11px 30px;
    font-weight: 500;
}


/* breadcrumb */

.breadcrumb-area {
    padding: 120px 0;
    background: #e4ad8a;
}

.breadcrumb-content h4 {
    font-weight: 300;
    color: #272727;
    font-size: 40px;
}


/* slider */

.slider-img-background {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(0% 100%, 21% 0%, 100% 0%, 100% 100%);
}

.slider-area {
    position: relative;
}

.slider-content {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 145px;
}

.slider-main-content span {
    color: #3a3838;
    font-size: 50px;
}

.slider-main-content h2 {
    color: #333;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 15px;
}

.slider-main-content p {
    margin-bottom: 0;
    color: #3a3939;
    font-size: 30px;
}


/* about */

.about-img img {
    border-radius: 5px;
}

.about-badge {
    background: #eaeaea;
    display: inline-block;
    padding: 10px 25px;
    color: #484646;
    margin-bottom: 25px;
}

.about-title h2 {
    color: #333;
    font-size: 35px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-des p {
    color: #666;
    font-size: 17px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.about-btn a {
    background: #333;
    color: #fff;
    padding: 15px 35px;
    font-size: 17px;
    line-height: 54px;
}

.about-btn {
    margin-top: 30px;
}
span.cd-words-wrapper {
    padding: 16px 0 !important;
}

/* service */

.single-service {
    background: #fff;
    border-radius: 5px;
    padding: 50px 35px;
}

.service-icon svg {
    color: #765cde;
    font-size: 45px;
    margin-bottom: 20px;
}

.service-name h5 {
    color: #333;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 25px;
}

.service-des p {
    color: #666;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.service-btn a {
    color: #765cde;
    font-weight: 500;
}

.service-area {
    background: #e6ac89;
}

.service-header-area h2 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 15px;
}

.service-header-area p {
    color: #f3f3f3;
    font-size: 20px;
    line-height: 1.6;
}

.service-header-area h2 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
}


/* portfolio */

.portfolio-header-title h2 {
    color: #333;
    font-size: 45px;
    margin-bottom: 10px;
}

.portfolio-header-title p {
    color: #666;
    font-size: 18px;
}

.single-portfolio {
    box-shadow: 0 0 20px #e2e2e2;
}

.portfolio-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
}

.portfolio-name h5 {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 19px;
}

.portfolio-name a svg {
    font-size: 21px;
}

.portfolio-menu button {
    border: none;
    background: no-repeat;
    font-size: 18px;
    margin-right: 30px;
    text-transform: capitalize;
}

.portfolio-menu button:last-child {
    margin-right: 0;
}

.portfolio-menu button.active {
    border-bottom: 2px solid #e6ab89;
    color: #e6ab89;
}


/* blog */

.single-blog {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #ddd;
}

.blog-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-content {
    padding: 30px 20px;
}

.blog-content-header {
    color: #666;
    margin-bottom: 20px;
}

.blog-title a {
    text-decoration: none;
}

.blog-title a h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog-btn a {
    text-decoration: none;
}

.blog-header-title h2 {
    color: #333;
    font-size: 40px;
    margin-bottom: 15px;
}

.blog-header-title p {
    color: #666;
    font-size: 18px;
}


/* blog */

.single-blog {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #ddd;
}

.blog-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-content {
    padding: 30px 20px;
}

.blog-content-header {
    color: #666;
    margin-bottom: 20px;
}

.blog-title a {
    text-decoration: none;
}

.blog-title a h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog-btn a {
    text-decoration: none;
}

.blog-details .blog-title {
    margin-bottom: 100px;
}

.blog-details .blog-title h4 {
    font-size: 38px;
    color: #333;
    font-weight: 600;
}

.blog-date {
    font-size: 18px;
    margin-bottom: 20px;
}

.blog-details .blog-img {
    margin-bottom: 100px;
}

.blog-details .blog-des p {
    color: #484646;
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 40px;
}

.blog-details .blog-tags ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.blog-details .blog-tags ul li {
    display: inline-block;
    margin-right: 15px;
}

.blog-details .blog-tags ul li a {
    color: #333;
    border: 1px solid #333;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 500;
}

.blog-details {
    position: relative;
}

.blog-share-area {
    position: absolute;
    left: -13%;
    top: 0;
}

.share-icon ul {
    padding: 0;
    margin: 0;
}

.share-icon ul li {
    margin-bottom: 25px;
    list-style: none;
}

.share-icon ul li a {
    color: #333333;
    font-size: 20px;
}

.blog-details .blog-list .single-news {
    box-shadow: none;
    background: #fff;
}

.main-area {
    background: #fff;
    padding: 150px 0;
}


/* contact */

.contact-area {
    background: #fff;
}

.contact-main-area {
    position: relative;
}

.container.contact-bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    background: #e6ac89;
    z-index: 0;
}

.contact-left-form {
    background: #fff;
    z-index: 99999;
    padding: 35px 35px;
    box-shadow: 9px -1px 29px #f1efefc2;
}

.col-lg-6.contact-lg {
    z-index: 9;
}

.container.contact-bg {
    padding: 100px 0;
    margin-top: 50px;
}

.contact-form-header h4 {
    font-weight: 500;
    color: #333;
    margin-bottom: 25px;
    font-size: 30px;
}

.contact-form-body .form-control {
    border: 1px solid #e4e4e4;
    border-radius: 0;
    padding: 15px 18px;
    color: #333;
}

.contact-form-body input {
    height: 55px;
}

.contact-form-body .form-group {
    margin-bottom: 25px;
}

.contact-form-body .form-control::placeholder {
    color: #9c9898;
}

.contact-form-body .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.contact-form-body textarea {
    height: 150px;
}

.button-btn button {
    border: none;
    background: #e6ac89;
    color: #fff;
    padding: 18px 45px;
    font-size: 17px;
}

.contact-info h4 {
    color: #333;
    font-size: 35px;
    margin-bottom: 20px;
}

.contact-info p {
    color: #666;
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.contact-info .media {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-info .media .icon {
    margin-right: 15px;
    background: #e6ac89;
    color: #fff;
    padding: 13px 18px;
    border-radius: 46px;
    font-size: 21px;
}

.contact-info .media-body {
    color: #585656;
    font-size: 17px;
}

.footer-social-links ul {
    margin: 0;
    padding: 0;
}

.footer-social-links ul li {
    display: inline-block;
    margin-right: 30px;
}

.footer-social-links ul li a {
    color: #333;
    font-size: 18px;
}

.footer-copyright p {
    color: #333;
    font-size: 17px;
    margin-bottom: 0;
}

.footer-area {
    padding: 40px 0;
    background: #e5ad8a;
}

/* pagination */
.page-link {
    position: relative;
    display: block;
    color: #35394a;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: transparent;
    color: #333 !important;
    padding: 12px 26px !important;
}

.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #E5AD8A;
    border: 1px solid #E5AD8A;
}

ul.pagination.justify-content-center.pagination_links {
    margin-top: 50px;
}

a.fas.fa-angle-right.page-link {
    height: 100%;
    display: flex;
    align-items: center;
}

a.fas.fa-angle-left.page-link{
    height: 100%;
    display: flex;
    align-items: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #E5AD8A;
    border-color: #E5AD8A;
}